 <%- include('header'); -%>

        <div id="heading" class="box">
            <h1> To watch list </h1>
        </div>
     

    
     <div class="box">
        <div class="item">
            <input type="checkbox">
            <p> <%= movie %></p>
        </div>
        <form class="item" action="/" method="post"> 
            <input name="newItem" placeholder="enter movie" type="text">
            <button name="" value="" type="submit">+</button>
        </form>
            
     </div>
    
     <%- include('footer'); -%>
